# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo / React Native
.expo/
.expo-shared/
android/.gradle/
android/app/build/
android/build/
ios/Pods/
ios/build/

# build artefakti
build/
dist/

# OS
.DS_Store
*.pem
*.keystore
*.jks
*.p12

# env / secrets
.env
.env.* 
App.js.bak
eval*
